<!--rgb cool color thing ikr--> 
 
 
 ::-webkit-scrollbar
{
width:0;
}

#scrollpath
{
  position:fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255,255,255,0.05)
  }

#progressbar
{
  position:fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 5s linear infinite;
}

@keyframes animate
{
  0%,100%
  {
    filter: hue-rotate(0deg);
  }

  50%
  {
    filter: hue-rotate(360deg);
  }
}

#progressbar:before
{
  position:absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter:blur(10px);
}

#progressbar:after
{
  position:absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter:blur(30px);
}

<!--actual website thing-->

body
{
  display: flex;
  
}

button
{
  position: relative;
  height: 75px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  color: #5402f7;
  background: #000000;
}

.popup
{
  color:#7002f7;
  position: relative;
  left: 800px;
  top: 330px;
  opacity: 0;
  pointer-events: none;
}

.popup.active
{
  animation: copypopup 3s ease-in-out forwards;
}

@keyframes copypopup
{
  0% {
    opacity: 0;
    pointer-events: none;
   }
  40% {
    opacity: 0.75;
    pointer-events: all;
    }
  80% {
    opacity: 1;
    pointer-events: all;
    }
  100% {
    opacity: 0;
    pointer-events: none;
    }
}

.clipboard
{
  position:relative;
}
